doctype html
html
  head
    title
  body
    .container
      h1 Get Stock Quote
      form(method='POST')
        div
          label Symbol
            input(type='text' name='name' placeholder='AAPL')
            input(type='submit', value='Quote')
      table(border="1")
        tr
          th Symbol
          th Price
          each stuff in stuffs
            tr
              td= stuff.symbol
              td= stuff.price


