doctype html
html
  head
    title
  body
    .container
      h1 Get Stock Quote
      form(method='POST')
        div
          label Symbol
            input(type='text' name='symbol' placeholder='AAPL')
            input(type='submit', value='Quote')
      table(border="1")
        tr
          th Symbol
          th Name
          th Price
         if stuffs
          //-   each stuff in stuffs
          tr
            td= stuffs.Symbol
            td= stuffs.Name
            td= stuffs.LastPrice
                <td><button onclick="remove(stuff);">Remove</button></td>
    script(type="text/javascript" src="../public/controllers/core.js")


